<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .container{
      margin: auto;
      width: 50%;
      padding: 30px;
       background: #e2e2e2e2;
    }
  </style>

</head>
<body>
<div class="container">
  <h1 data-th-text="${name}">Welcome to home page</h1>
  <p>Email id is : <span data-th-text="${email}"></span></p>
  <p>Password is : <span th:text="${password}"></span></p>
<p>Spring Framework is a comprehensive, lightweight framework for building Java applications, providing support for dependency injection, aspect-oriented programming, transaction management, and more. It serves as a foundation for enterprise applications by simplifying development with loosely coupled components.

  Spring Boot, built on top of the Spring Framework, simplifies the process of creating stand-alone, production-ready applications with minimal configuration. It provides embedded servers, auto-configuration, and an opinionated approach to development, reducing boilerplate code. With built-in support for microservices, Spring Boot is widely used for modern cloud-based applications, making development faster and more efficient while maintaining the flexibility of the Spring ecosystem.</p>
   <a th:href="${Githubrepo}">Cliick here to open</a>

</div>
</body>
</html>